camera_names: "right_front,front_12mm"
input_camera_channel_names : "/apollo/sensor/camera/right_front/image,/apollo/sensor/camera/front_12mm/image"
timestamp_offset : 0.0
camera_lane_perception_conf_dir : "/apollo/modules/perception/production/conf/perception/camera"
camera_lane_perception_conf_file : "lane.pt"
frame_capacity : 20
image_channel_num : 3
enable_undistortion : false
enable_visualization : true
output_lanes_channel_name : "/carvex/perception/lanes"
default_camera_pitch : 0.0
default_camera_height : 1.5
lane_calibration_working_sensor_name : "right_front"
calibrator_method : "LaneLineCalibrator"
calib_service_name : "OnlineCalibrationService"
run_calib_service : false
ts_diff : 0.1
visual_debug_folder : "/apollo/debug_output"
visual_camera : "right_front"
write_visual_img : true
